<div class="wrapper">
  <!-- Main Menu -->
  <div class="menu">
    <app-menu></app-menu>
  </div>
  <!-- End Main Menu -->

  <!-- Content -->
  <div
    fxLayout="row"
    fxLayout.sm="column"
    fxLayoutAlign="center center"
    class="parent"
    >

    <!-- Left Column -->
    <div
      fxFlex=25%
      class="left">
      Left
    </div>
    <!-- End Left Column -->

    <!-- Right Column -->
    <div
      fxFlex=75%
      class="right">
      <app-login></app-login>
    </div>
    <!-- End Right Column -->

  </div>
  <!-- End Content -->
</div>
