@import '~@angular/material/prebuilt-themes/purple-green.css';

/* Login Styles */
.login-panel {
  background-color: #fdfdfd;
  height: 350px;
  width: 275px;
  border-radius: 13px;
  position: relative;
  margin: 0 auto;
  padding: 25px 35px;
}

.login-panel.frm-login-panel.mat-card {
  box-shadow: 5px 5px 6px rgba(0, 0, 0, .35);
  transition: all ease-out 1s;
}

.mat-card-title,
.mat-card-subtitle {
  margin-left: -16px;
  margin-right: -16px;
  height: 1.5em;
}

.mat-card-title {
  color: #000;
  font-family: arial;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1em;
}

.mat-card-subtitle {
  color: rgba(0, 0, 0, .5);
}

.btn-login {
  align-self: flex-end;
}

.frm-login-actions {
  display: flex;
}

.btn-login {
  flex-grow: 1;
}

.mat-input-element {
  color: #000;
  font-size: 14px;
  line-height: 1.25em;
}
/* End Login Styles */
