<div class="wrapper">
  <!-- Menu -->
  <mat-toolbar fxLayout="row" fxLayout.sm="column">
    <mat-toolbar-row><a href="#" target="_blank">Home</a></mat-toolbar-row>
    <mat-toolbar-row><a href="#" target="_blank">About</a></mat-toolbar-row>
    <mat-toolbar-row><a href="#" target="_blank">Contact</a></mat-toolbar-row>
  </mat-toolbar>
  <!-- Menu -->

  <!-- Content -->
  <div class="container" fxLayout="row" fxLayout.sm="column" fxLayoutAlign="center stretch">
    <!-- Left column begin -->
    <div class="left" fxFlex=25% fxLayoutAlign="center"></div>
    <!-- Left column end -->

    <!-- Form begin -->
    <div class="right" fxFlex=75% fxLayoutAlign="start center" fxLayout="column">

      <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
        <div class="form-element">
          <label for="username">Username: </label><input type="text" name="username" ngModel>
        </div>
        <div class="form-element">
          <label for="ssn">SSN: </label><input type="text" name="ssn" ngModel>
        </div>
        <div ngModelGroup="passwordsGroup">
          <div class="form-element">
            <label for="password">Password: </label><input type="password" name="password" ngModel>
          </div>
          <div class="form-element">
            <label for="pcondirm">Confirm password: </label><input type="password" name="pcondirm" ngModel>
          </div>
        </div>
        <button type="submit">Submit</button>
      </form>
      <!-- Form end -->

    </div>
    <!-- Right column end -->
  </div>
  <!-- End Content -->
</div>
