@import '~@angular/material/prebuilt-themes/purple-green.css';

/* Form Styles */
.frm-login {
  width: 50%;
  margin: 0 auto;
}

.frm-login-panel {
  border: 1px solid black;
}

.frm-login-header {
  background-color: red;
}

.frm-login-toolbar {
  background-color: red;
  color: #ffffff;
}

.frm-login-body {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.frm-login-actions {
  text-align: right;
}

.btn-login {
  background-color: grey;
  color: #ffffff;
}

/* Global */

.wrapper {
  width: 100%;
  margin-top: 10%;
}
